<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <connectionStrings>
    <add name="Agriculture_sql" connectionString="Data Source=RENWU;Initial Catalog=agriculture;Persist Security Info=True;User ID=sa;Password=kin15001" />
  </connectionStrings>
    <system.web>
      <compilation debug="false" targetFramework="4.0" />
      <httpRuntime executionTimeout="9999999" maxRequestLength="2097151"/>
      <customErrors  defaultRedirect="/404.html"
    mode="On">
        <error statusCode="500"
               redirect="/404.html"/>
      </customErrors>
    </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483648" />
      </requestFiltering>
    </security>
    
  </system.webServer>
</configuration>
